## Documents Required for CAT Registration 2023:
    
    . Class 10th Marksheet
    . Class 12th Marksheet
    . Marksheet of Graduation or equivalent Diploma
    . For those in their final year of graduation: mark sheet of second year and certificate of final year.
    . Scanned signature and a passport-size photograph
    . Certificate of category/disability, if any

In [1]:
import pytesseract
import pandas as pd
import os
import pdf2image
import re
from pdf2image import convert_from_path
import glob

In [2]:
folder_path = os.getcwd()
pdf = glob.glob(folder_path+"\\"+"*.pdf")
pdf

['E:\\Velocity - Data Science\\Project\\OCR Project\\10th_marksheet_1.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\10th_marksheet_2.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\10th_marksheet_3.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\10th_marksheet_4.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\10th_marksheet_5.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\12th_marksheet_1.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\12th_marksheet_2.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\12th_marksheet_3.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\12th_marksheet_4.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\12th_marksheet_5.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\Caste_certificate_1.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\Caste_certificate_2.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\Caste_certificate_3.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\Caste_certificate_4.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\Caste_certificate_5.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\grad_marksheet_1.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\grad_marksheet_2.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\grad_marksheet_3.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\grad_marksheet_4.pdf',
 'E:\\Velocity - Data Science\\Project\\OCR Project\\grad_marksheet_5.pdf']

### Class 10th Marksheet
Data required for CAT exam registration:

    1) Percentage/CGPA
    2) Passing Year
    3) Roll Number or Registration number

### Class 12th Marksheet
Data required for CAT exam registration:

    1) Percentage/CGPA
    2) Passing Year
    3) Roll Number or Registration number

### Marksheet of Graduation or equivalent Diploma
Data required for CAT exam registration:

    1) Percentage/CGPA
    2) Year of graduation
    3) Roll Number or Registration number

### Certificate of category/disability, if any
Data required from caste certificate for CAT exam registration:

    -> Caste category

In [13]:
folder_path = r"E:\Velocity - Data Science\Project\OCR Project"
file_names = os.listdir(folder_path)
file_names

['.ipynb_checkpoints',
 '10th_class_Marksheet.PNG',
 '10th_marksheet_1.pdf',
 '10th_marksheet_2.pdf',
 '10th_marksheet_3.pdf',
 '10th_marksheet_4.pdf',
 '10th_marksheet_5.pdf',
 '12th_class_Marksheet.PNG',
 '12th_marksheet_1.pdf',
 '12th_marksheet_2.pdf',
 '12th_marksheet_3.pdf',
 '12th_marksheet_4.pdf',
 '12th_marksheet_5.pdf',
 'BE_8th_sem_Marksheet.PNG',
 'Caste_Category_1.PNG',
 'Caste_Category_2.PNG',
 'Caste_Category_3.PNG',
 'Caste_Category_4.PNG',
 'Caste_Category_5.PNG',
 'Caste_certificate.PNG',
 'Caste_certificate_1.pdf',
 'Caste_certificate_2.pdf',
 'Caste_certificate_3.pdf',
 'Caste_certificate_4.pdf',
 'Caste_certificate_5.pdf',
 'Category_certificate_details.csv',
 'Category_certificate_details.xlsx',
 'Class_10th_Marksheet_1.PNG',
 'Class_10th_Marksheet_2.PNG',
 'Class_10th_Marksheet_3.PNG',
 'Class_10th_Marksheet_4.PNG',
 'Class_10th_Marksheet_5.PNG',
 'Class_10_Marksheet_details.csv',
 'Class_10_Marksheet_details.xlsx',
 'Class_12th_Marksheet_1.PNG',
 'Class_12th_Marksheet_2.PNG',
 'Class_12th_Marksheet_3.PNG',
 'Class_12th_Marksheet_4.PNG',
 'Class_12th_Marksheet_5.PNG',
 'Class_12_Marksheet_details.csv',
 'Class_12_Marksheet_details.xlsx',
 'Graduation_Marksheet_1.PNG',
 'Graduation_Marksheet_2.PNG',
 'Graduation_Marksheet_3.PNG',
 'Graduation_Marksheet_4.PNG',
 'Graduation_Marksheet_5.PNG',
 'Graduation_marksheet_details.csv',
 'Graduation_marksheet_details.xlsx',
 'grad_marksheet_1.pdf',
 'grad_marksheet_2.pdf',
 'grad_marksheet_3.pdf',
 'grad_marksheet_4.pdf',
 'grad_marksheet_5.pdf',
 'OCR Project 1.ipynb',
 'OCR Project 2.ipynb',
 'OCR project patterns.txt',
 'OCR Project.ipynb',
 'OCR-Project- VC08JUL23025.ipynb']

In [43]:
percent_list_10 = []
pass_year_list_10 = []
roll_no_list_10 = []
percent_list_12 = []
pass_year_list_12 = []
roll_no_list_12 = []
cgpa_list = []
grad_year_list = []
reg_no_list = []
category_list = []
path = r"C:\Users\kalash\AppData\Local\Programs\Tesseract-OCR\tesseract.exe"
for file in file_names:
    if file.startswith("Class_10th"):
        image_path = os.path.join(folder_path,file)
        pytesseract.pytesseract.tesseract_cmd = path
        text = pytesseract.image_to_string(image_path)
        pattern_percent_10 = re.findall("\s\d{2}[.]\d{2}\s",text)
        if pattern_percent_10:
            percent_list_10.append(pattern_percent_10)
        else:
            percent_list_10.append(None)
        pattern_pass_year_10 = re.findall("[A-Z]{5}[-]\d{4}",text)
        if pattern_pass_year_10:
            pass_year_list_10.append(pattern_pass_year_10)
        else:
            pass_year_list_10.append(None)
        pattern_roll_no_10 = re.findall("[A-Za-z]{1,3}\d{1}[a-z]\d{2}|[A-Z]{1}\d{6}",text)
        if pattern_roll_no_10:
            roll_no_list_10.append(pattern_roll_no_10)
        else:
            roll_no_list_10.append(None)
    if file.startswith("Class_12th"):
        image_path = os.path.join(folder_path,file)
        pytesseract.pytesseract.tesseract_cmd = path
        text = pytesseract.image_to_string(image_path)
        pattern_percent_12 = re.findall("\s\d{2}[.]\d{2}\s",text)
        if pattern_percent_12:
            percent_list_12.append(pattern_percent_12)
        else:
            percent_list_12.append(None)
        pattern_pass_year_12 = re.findall("[A-Za-z]{8}[-]\d{2}",text)
        if pattern_pass_year_12:
            pass_year_list_12.append(pattern_pass_year_12)
        else:
            pass_year_list_12.append(None)
        pattern_roll_no_12 = re.findall("\s.+[A-Z]{1,2}\d{5,6}.",text)
        if pattern_roll_no_12:
            roll_no_list_12.append(pattern_roll_no_12)
        else:
            roll_no_list_12.append(None)
    if file.startswith("Graduation_Marksheet"):
        image_path = os.path.join(folder_path,file)
        pytesseract.pytesseract.tesseract_cmd = path
        text = pytesseract.image_to_string(image_path)
        pattern_cgpa = re.compile("\s\d{1}[.]\d{2}\s").search(text).group()
        if pattern_cgpa:
            cgpa_list.append(pattern_cgpa)
        else:
            cgpa_list.append(None)
        pattern_grad_year = re.findall("(?<=[:,-]\s)[A-Z]{5,6}[-\s]\d{4}",text)
        if pattern_grad_year:
            grad_year_list.append(pattern_grad_year)
        else:
            grad_year_list.append(None)
        pattern_reg_no = re.findall("(?<=[:>+]\s)\d{9,14}",text)
        if pattern_reg_no:
            reg_no_list.append(pattern_reg_no)
        else:
            reg_no_list.append(None)
    if file.startswith("Caste_Category"):
        image_path = os.path.join(folder_path,file)
        pytesseract.pytesseract.tesseract_cmd = path
        text = pytesseract.image_to_string(image_path)
        pattern_category = re.compile("\s[A-Za-z]{5}\s[A-Za-z]{8}.?[A-Za-z]{5}").search(text).group()
        if pattern_category:
            category_list.append(pattern_category)
        else:
            category_list.append(None)
print(percent_list_10, pass_year_list_10,roll_no_list_10)
print(percent_list_12, pass_year_list_12,roll_no_list_12)
print(cgpa_list,grad_year_list,reg_no_list)
print(category_list)

[None, None, [' 90.20 '], None, [' 93.00 ']] [None, None, ['MARCH-2017'], ['MARCH-2014'], ['MARCH-2017']] [['O098553'], None, ['Joo0a18'], ['J070365'], ['J090823']]
[None, None, [' 79.45 '], [' 71.54 '], None] [None, ['FEBRUARY-19'], None, ['FEBRUARY-16'], ['FEBRUARY-19']] [None, ['\nCOMMERCE | N149731|'], None, ['\ne SCIENCE NO31264 '], ['\nNO37845 ']]
[' 6.89 ', ' 3.54 ', ' 8.05 ', ' 7.23 ', ' 7.48 '] [['APRIL 2022'], ['APRIL-2022'], None, ['SUMMER 2020'], ['SUMMER 2023']] [None, None, ['193901186'], ['20174020932625'], ['20201028721665']]
[' Other Backward Class', ' Other Backward Class', ' Other Backward Class', ' Other Backward Class', ' Other Backward Class']

In [44]:
dict1 = {"10th Class percentage":percent_list_10,"10th Class passing year ":pass_year_list_10,"10th Class Roll.No":roll_no_list_10}
dict2 = {"12th Class percentage":percent_list_12,"12th Class passing year ":pass_year_list_12,"12th Class Roll.No":roll_no_list_12}
dict3 = {"Graduation CGPA":cgpa_list,"Graduation Passing year":grad_year_list,"Graduation Reg/Enroll. No":reg_no_list}
dict4 = {"Caste Category":category_list}

In [45]:
df1 = pd.DataFrame(dict1)
df1

  10th Class percentage 10th Class passing year  10th Class Roll.No
0                  None                     None          [O098553]
1                  None                     None               None
2             [ 90.20 ]             [MARCH-2017]          [Joo0a18]
3                  None             [MARCH-2014]          [J070365]
4             [ 93.00 ]             [MARCH-2017]          [J090823]

In [46]:
df2 = pd.DataFrame(dict2)
df2

  12th Class percentage 12th Class passing year        12th Class Roll.No
0                  None                     None                     None
1                  None            [FEBRUARY-19]  [\nCOMMERCE | N149731|]
2             [ 79.45 ]                     None                     None
3             [ 71.54 ]            [FEBRUARY-16]   [\ne SCIENCE NO31264 ]
4                  None            [FEBRUARY-19]             [\nNO37845 ]

In [47]:
df3 = pd.DataFrame(dict3)
df3

  Graduation CGPA Graduation Passing year Graduation Reg/Enroll. No
0           6.89             [APRIL 2022]                      None
1           3.54             [APRIL-2022]                      None
2           8.05                     None               [193901186]
3           7.23            [SUMMER 2020]          [20174020932625]
4           7.48            [SUMMER 2023]          [20201028721665]

In [48]:
df4 = pd.DataFrame(dict4)
df4

          Caste Category
0   Other Backward Class
1   Other Backward Class
2   Other Backward Class
3   Other Backward Class
4   Other Backward Class

In [49]:
df1.to_csv("Class_10th_data.csv")
df2.to_csv("Class_12th_data.csv")
df3.to_csv("Graduation_data.csv")
df4.to_csv("Caste_Category_data.csv")